* {
    background-color: #eff6e0;
    margin: 0;
    padding: 0;
    color: #34403a;
    font-family: 'Roboto Mono', monospace;
}

/* Header */
header img {
    width: 100%;
    height: 150px;
}

@media screen and (min-width: 601px) {
    #header-text {
        font-size: 37px;
    }

    .nav-link {
        font-size: 17px;
    }

    .about-title h1, .contact-title {
        font-size: 25px;
    }

    .avatar {
        height: 75px;
    }
    .about-content {
        font-size: 20px;
    }
}

@media screen and (max-width: 600px) {
    #header-text, .contact-title {
        font-size: 20px;
    }

    .nav-link {
        font-size: 11px;
    }

    .about-title h1 {
        font-size: 17px;
    }

    .avatar {
        height: 45px;
    }

    .about-content {
        font-size: 15px;
    }
}

#header-text {
    background-color: transparent;
    position: absolute;
    top: 50px;
    color: #eff6e0;
    margin-left: 10px;
}

/* Navigation */
#nav-bar {
    background-color:transparent;
    height: 50px;
    position: absolute;
    right: 20px;
    top: 110px;
    
}

.nav-link {
    margin-left: 17px;
    padding: 4px;
    /* font-size: 17px; */
    text-decoration: none;
    background-color: #eff6e0;
    border-radius: 5px;
}

.nav-link:hover {
    background-color: #34403a;
    color: #eff6e0;
}

.active {
    background-color: #aec3b0;
}

/* Contact Me Section */
.form-container {
    align-items: center;
    width: 50%;
    margin: auto;
    padding: 10px;
    text-align: center;
    padding-bottom: 4rem;
}

.contact-input {
    border-color:  #34403a;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 90%;
    margin: 15px;
}

textarea {
    height: 150px;
}

button {
    background-color: #aec3b0;
    border: none;
    padding: 7px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
}

/* Button hover */
button:hover {
    background-color: #eff6e0;
    color: #aec3b0;
}

.download-button:hover {
    background-color: #34403a;
    color: #eff6e0;
}

/* Error Page */
.error-container {
    margin-top: 30px;
}

.error-text {
    color: rgb(122, 6, 6);
}

/* About Me Section */
.about-container {
    margin: auto;
    width: 60%;
    padding-bottom: 4rem;
}

.about-title {
    margin-top: 15px;
    display: flex;
    flex-direction: row;
}

.about-title h1 {
    margin-left: 25px;
    margin-top: 20px;
}

.about-content {
    margin-top: 15px;
}

.avatar {
    margin-left: 20px;
    border: 1px solid #34403a;
    border-radius: 50%;
}

/* Portfolio Section */
.project-section {
    width: 60%;
    max-width: 400px;
    margin: auto;
    margin-bottom: 3.5rem;
}

.border {
    z-index: 1;
    border: solid 2px #34403a;
    border-radius: 20px;
    padding: 2rem;
    margin-bottom: 5px;
}

.project-container {
    background-color: transparent;
    z-index: 0;
    padding-top: 5px;
    position: relative;
    text-align: center;
}

.project-image:hover {
    transform: scale(1.05);
}

.project-title {
    font-weight: 600;
    color: #34403a;
    background-color: transparent;
    position: absolute;
    width:max-content;
    top: -10px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.project-image {
    width: 75%;
    max-width: 400px;
    height: 150px;
    border-radius: 10px;
}

/* Resume Page */
.center {
    text-align: center;
    padding-bottom: 3.5rem;
}

/* Footer Section */
footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    background-color: #aec3b0;
    height: 3rem;
    text-align: center;
    padding-top: .5rem;
}

footer a {
    margin-left: 20px;
    text-decoration: none;
    background-color: #aec3b0;
}

.footer-images {
    background-color: transparent;
    height: 30px;
    width: 30px;
}