* {
    background-color: #eff6e0;
    margin: 0;
    padding: 0;
    color: #34403a;
    font-family: 'Roboto Mono', monospace;
}

header img {
    width: 100%;
    height: 150px;
}

#header-text {
    background-color: transparent;
    font-size: 37px;
    position: absolute;
    top: 55px;
    color: #eff6e0;
    margin-left: 10px;
}

#nav-bar {
    background-color:transparent;
    height: 50px;
    position: absolute;
    right: 20px;
    top: 75px;
    
}

.nav-link {
    margin-left: 17px;
    padding: 4px;
    font-size: 17px;
    text-decoration: none;
    background-color: #eff6e0;
    border-radius: 5px;
}

.nav-link:hover {
    background-color: #34403a;
    color: #eff6e0;
}

.active {
    background-color: #aec3b0;
}

.form-container {
    align-items: center;
    width: 50%;
    margin: auto;
    padding: 10px;
    text-align: center;
}

.contact-input {
    border-color:  #34403a;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 90%;
    margin: 15px;
}

textarea {
    height: 150px;
}

button {
    background-color: #aec3b0;
    border: none;
    padding: 7px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
}

/* TODO */
button:hover {
    background-color: #eff6e0;
    color: #aec3b0;
}

.download-button:hover {
    background-color: #34403a;
    color: #eff6e0;
}

.error-container {
    margin-top: 30px;
}

.error-text {
    color: rgb(122, 6, 6);
}

.about-container {
    margin: auto;
    width: 50%;
}

.about-title {
    margin-top: 15px;
    display: flex;
    flex-direction: row;
}

.about-title h1 {
    margin-left: 25px;
    margin-top: 20px;
    font-size: 25px;
}

.about-content {
    margin-top: 15px;
    font-size: 19px;
}

.avatar {
    margin-left: 20px;
    border: 1px solid #34403a;
    border-radius: 50%;
    height: 75px;
}

.project-section {
    column-count: 2;
    column-width: 50%;
    margin-top: 35px;
}

.project-container {
    position: relative;
    text-align: center;
    width: 85%;
    margin: 40px;
}

.project-container:hover {
    transform: scale(1.5);
}

.project-title {
    background-color: #aec3b0;
    text-decoration: none;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.git-link {
    text-decoration: none;
    position: absolute;
    top: 40%;
    left: 73%;
    transform: translate(-50%, -50%);
}

.project-image {
    z-index: -1;
    width: 75%;
    height: 150px;
}


footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    background-color: #aec3b0;
    height: 50px;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
}

footer a {
    margin-left: 20px;
    text-decoration: none;
    background-color: #aec3b0;
}

.footer-images {
    height: 50px;
    width: 50px;
}